:root {
  --text-color: white;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  background-image: linear-gradient(
    to right,
    rgba(70, 69, 69, 1) -1.7%,
    rgba(46, 46, 46, 1) 85.6%
  );
  background-size: cover;
  color: var(--text-color);
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.navLinks a {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 20px;
  font-weight: 600;
  text-decoration: none;
}

.navLinks a,
.navLinks a:visited {
  color: var(--text-color);
}

.app {
  width: 90vw;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedInUserIcon {
  width: 30px;
  height: auto;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(282deg)
    brightness(105%) contrast(105%);
}

.logOutIcon {
  width: 20px;
  height: auto;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(282deg)
    brightness(105%) contrast(105%);
}

.loggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.logOutIcon {
  border: solid 2px black;
  padding: 3px;
  border-radius: 5px;
  margin-left: 20px;
}

.logOutIcon:hover {
  box-shadow: 2px 2px 5px 2px grey;
}
