.posts,
.posts li {
  list-style-type: none;
  padding: 0;
}

.posts > li {
  border: solid 3px white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.post {
  display: grid;
  grid-template-columns: 400px 300px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.postButtons {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.postTitle {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.postText {
  font-style: italic;
  margin: 15px;
  text-align: center;
  align-content: center;
  height: min(100px);
}

.clockIcon {
  font-size: 1.5rem;
}

.postTime {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.post button {
  font-size: 1.2rem;
  padding: 3px 7px;
  background-color: white;
  border-radius: 5px;
  border: none;
}

.post button:hover {
  box-shadow: 2px 2px 3px 3px grey;
}

.published {
  text-align: center;
}
