:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

form {
  display: grid;
  grid-template-columns: 100px 300px;
  grid-auto-rows: min-content;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

input[type="submit"] {
  grid-column: 1 / 3;
  width: min-content;
  justify-self: flex-end;
}

label {
  justify-self: flex-end;
}

.app {
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
