:root {
  --text-color: rgb(14, 12, 133);
}

html {
  background-image: linear-gradient(
    90.5deg,
    rgba(112, 181, 176, 1) 1.9%,
    rgba(220, 244, 241, 1) 87.7%
  );
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.navLinks a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 20px;
  border: solid 2px rgb(18, 138, 146);
  border-radius: 5px;
  padding: 5px;
}

.navLinks a,
.navLinks a:visited {
  color: var(--text-color);
}

.app {
  width: 90vw;
  justify-content: center;
}

.loggedInUserIcon {
  width: 30px;
  height: auto;
  filter: invert(11%) sepia(93%) saturate(3176%) hue-rotate(235deg)
    brightness(91%) contrast(115%);
}

.logOutIcon {
  width: 20px;
  height: auto;
  filter: invert(11%) sepia(93%) saturate(3176%) hue-rotate(235deg)
    brightness(91%) contrast(115%);
}

.loggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--text-color);
}

.logOutIcon {
  border: solid 2px var(--text-color);
  padding: 3px;
  border-radius: 5px;
  margin-left: 20px;
}

.logOutIcon:hover {
  box-shadow: 2px 2px 5px 2px grey;
}
